.main {
    max-width: 28rem;
    margin: 2rem auto;
    padding-left: 1rem; 
    padding-right: 1rem; 

    background-color: #202023; 
}

h1 {
    font-size: 1.0rem; 
    font-family: "Roboto", sans-serif;
    font-weight: normal; 
    color: #f1f5f9; 
    margin: 0rem; 
}

h2 {
    font-size: 1.5rem; 
    font-family: "Roboto", sans-serif;
    color: #f1f5f9; 
    margin: 0rem; 

    padding-top: 0.4rem; 
}

p {
    font-size: 0.8rem; 
    font-family: "Roboto", sans-serif;
    color: #fbe6cc; 
    line-height: 1.2rem; 
    margin: 0rem; 

    padding-top: 0.4rem; 
}

.room-management {
    display: flex; 
    flex-direction: row; 
    gap: 0.4rem;
    margin-top: 0.4rem;
}

.room-management button {
    flex: 1; 
    padding: 0.4rem; 
    font-size: 0.8rem; 
    font-family: "Roboto", sans-serif;
    color: #f1f5f9; 
    background-color: #3b82f6; 
    border: none; 
    border-radius: 0.2rem; 
    cursor: pointer; 
}

.room-management input {
    flex: 1; 
    padding: 0.4rem; 
    font-size: 0.8rem; 
    font-family: "Roboto", sans-serif;
    color: #f1f5f9; 
    background-color: #3b82f6; 
    border: none; 
    border-radius: 0.2rem;
}